.product-catalog{
  display: flex;
  margin-top: 10px;
  padding:7px 0 7px 7%;
  line-height: 40px;
  height: 40px;
  width: 93;
  background-color: white;
  position: relative;
}

.product-select-body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}