.address-top-null{
  height: 10px;
}

.address-item{
  width: 92%;
  margin-left:4%;
  background-color: white;
  padding: 5px 4px;
  font-size: 13px;
  margin-bottom: 10px;
}

.address-top{
  line-height: 30px;
  display: flex;
  position: relative;
}

.address-phone-number{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.address-edit{
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #dddddd;
  display: flex;
}

.address-edit-font{
  position: absolute;
  right: 10px;
}

.address-phone-number,.address,.postCode{
  line-height: 30px;
}

.address-top img{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
}